doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="A simple post board")
    title= title
    link(rel='icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content