extends layout

block content
    .content
        .margin-left
        .center
            form#form
                .container
                    h2= title
                    .container_row
                        #message.message
                            if message
                                = message
                    .container_row
                        label(for="uname") <b>Username</b>
                        input(type="text" placeholder="Enter Username" name="uname" id="uname")
                    .container_row
                        label(for="psw") <b>Password</b>
                        input(type="password" placeholder="Enter Password" name="psw" id="psw")
                    .container_row
                        button(type="button" id="submitBtn") Login
                    .container_row
                        a(href='/register') Register
            script(src="/javascripts/validate_and_send_credentials.js")
            script.
                document.getElementById('submitBtn').addEventListener('click', function() {
                    sendCreds('login');
                })
        .margin-right
