extends layout

block content
    <div class="content">
        <div class="margin-left"></div>
        <div class="center">
            <form action="/register" method="post">
                <div class="container">
                    h2= title
                    <div class="container_row">
                        <div class="message">
                            if message
                                = message
                        </div>
                    </div>
                    <div class="container_row">
                            <label for="uname"><b>Username</b></label>
                            <input type="text" placeholder="Enter Username" name="uname" required minlength="4" oninvalid="this.setCustomValidity('Username must be at least 4 characters long')">
                    </div>
                    <div class="container_row">
                            <label for="psw"><b>Password</b></label>
                            <input type="password" placeholder="Enter Password" name="psw" required minlength="8" oninvalid="this.setCustomValidity('Password must be at least 8 characters long')">
                    </div>
                    <div class="container_row">
                            <button type="submit">Register</button>
                    </div>
                    <div class="container_row">
                            a(href='/login') Login
                    </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="margin-right"></div>
    </div>